.home {
  margin: 0;
  background-color: black;
  color: white;
}

.fix-list {
  display: inline-flex;
  flex-wrap: wrap;
  color: white;
  width: 100%;
}

.fix-list li {
  display: inline-flex;
  margin: 10px auto;
  font-size: 35px;
}

.fix-list a {
  text-decoration: none;
}

.home-text {
  text-align: center;
  cursor: pointer;
}

.footer-list {
  display: inline-flex;
  flex-wrap: wrap;
  height: 150px;
  width: 100%;
  background-color: black;
}

.footer-list li {
  margin: 70px auto;
  font-size: 20px;
  list-style-type: none;
}

.footer-list a {
  text-decoration: none;
  color: white;
}
.footer-list a:hover {
  color: red;
  transform: ease-in-out;
}

.display-users {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  background-color: black;
  color: white;
}

.img {
  margin: 10px auto;
}
.title {
  margin: 5px auto;
}

.value {
  margin: 5px auto;
}

.pop {
  border-right: 1px solid white;
  color: white;
  background-color: red;
  cursor: pointer;
  width: 50px;
  margin: 0 2px 0 2px;
  font-weight: bold;
  font-size: 20px;
}
.pop:hover {
  color: red;
  background-color: white;
  cursor: pointer;
  width: 50px;
  margin: 0 2px 0 2px;
  font-weight: 500;
  font-size: 16px;
  border-radius: 5px;
}

.sub {
  border-right: 1px solid white;
  color: white;
  background-color: red;
  cursor: pointer;
  width: 100px;
  font-size: 15px;
  font-weight: 700;
}
.sub:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  width: 100px;
  font-size: 15px;
  border-radius: 5px;
}

.container {
  width: 100%;
  overflow-x: none;
  background-color: black;
}

.about {
  background-color: black;
  height: 100%;
  color: white;
}
.about-text {
  text-align: center;
}

.about-para {
  text-align: justify;
  word-spacing: -0.05em;
  letter-spacing: -0.5px;
  margin: 20px auto;
  font-size: 24px;
  width: 80%;
  height: 90%;
}

.Value-title {
  width: 500px;
  margin: 0 auto;
  font-size: 20px;
  text-transform: capitalize;
}
/*styling the user cards*/
.card {
  margin: 5px auto;
  height: 500px;
  background-color: black;
}

.card-body {
  background-color: whitesmoke;
}

.image-card {
  height: 300px;
  width: 300px;
}
.img {
  margin: 0 auto;
}

.card-names {
  margin: 10px auto;
  width: 310px;
  line-height: 1.5;
}

.user-page {
  background-image: url("./lightening.jpg");
  background-size: cover;
}

/*style for 404 page*/
.four-page {
  background-color: black;
  width: 100%;
  height: 700px;
  color: white;
}

.four-page h1 {
  text-align: center;
}

.four-page a {
  text-decoration: none;
  color: white;
  margin: 100px auto;
  font-size: 35px;
}

.four-page a:hover {
  color: red;
  text-decoration: underline;
}

span {
  color: red;
}
